# Reading station weather data

In [12]:
# disable future warning
import warnings
warnings.simplefilter('ignore')

from meteostat import Stations, Daily
import geopandas as gp
import pandas as pd
from datetime import datetime

In [7]:
query = Stations()
query.region("DE")
stations = query.fetch()
stations.reset_index(inplace=True)

In [8]:
pd.Series(stations.columns)

0                id
1              name
2           country
3            region
4               wmo
5              icao
6          latitude
7         longitude
8         elevation
9          timezone
10     hourly_start
11       hourly_end
12      daily_start
13        daily_end
14    monthly_start
15      monthly_end
dtype: object

In [9]:
# remove unnecessary station data
cols = [
    'id',
    'latitude',
    'longitude',
    'elevation',
    'daily_start',
    'daily_end'
]
stations = stations[cols]

In [13]:
stations[stations['daily_start'] <= datetime(1985, 12, 31)]

          id  latitude  longitude  elevation daily_start  daily_end
2      01001   70.9333    -8.6667       10.0  1921-12-31 2022-11-24
5      01004   78.9167    11.9333        8.0  1968-12-31 1997-03-01
8      01007   78.9167    11.9333        0.0  1973-03-28 2022-11-24
9      01008   78.2500    15.4667        2.0  1975-08-01 2022-11-23
10     01015   69.6000    17.8333       14.0  1979-10-31 2021-09-06
...      ...       ...        ...        ...         ...        ...
15295  U9ANI   33.0833  -116.6300     1285.0  1893-01-01 2022-11-13
15373  UUEE0   55.9667    37.4000      192.0  1973-02-20 2022-04-25
15376  UUWW0   55.5833    37.2667      209.0  1973-02-18 2022-04-25
15415  VGHS0   23.8433    90.3978       10.0  1943-08-01 2022-04-25
15458  VYTN0   26.3670    96.7330      210.0  1944-05-04 1944-05-18

[7143 rows x 6 columns]